<?xml version="1.0"?>
<Events>
    <SupportURL>http://forums.indigodomo.com/viewforum.php?f=211</SupportURL>
    <Event id="activityFinishedNotification">
        <Name>Activity Finished Notification</Name>
        <ConfigUI>
            <Field id="hubID" type="menu">
                <Label>Select Hub:</Label>
                <List class="self" filter="" method="pickHub" dynamicReload="true"/>
            </Field>            
        </ConfigUI>
    </Event>
    <Event id="activityNotification">
        <Name>Activity Notification</Name>
        <ConfigUI>
            <Field id="hubID" type="menu">
                <Label>Select Hub:</Label>
                <List class="self" filter="" method="pickHub" dynamicReload="true"/>
            </Field>            
        </ConfigUI>
    </Event>
    <Event id="automationNotification">
        <Name>Automation Notification</Name>
        <ConfigUI>
            <Field id="hubID" type="menu">
                <Label>Select Hub:</Label>
                <List class="self" filter="" method="pickHub" dynamicReload="true"/>
            </Field>            
        </ConfigUI>
    </Event>
</Events>


